<form id="user_del_f" class="sign_f" action="/delete_account/<%= @current_user %>" method="post">
  <!-- <input type="hidden" name="_method" value="delete"> -->
  <input id="user_del" class="sign" type="text" name="username" value="<%= @user.username %>">
  <input id="user_del_p" class="sign" type="password" name="password">
  <input id="user_del_btn" class="sign" type="submit" value="Delete">
</form>
