<div class="sign">
  <form id="user_del_f" action="/delete_acount" method="post">
    <label class="sign" for="username">Username:</label>
    <input id="user_del" type="text" name="username">
    <label class="sign" for="password">Password:</label>
    <input id="user_del_p" type="password" name="password">
    <input id="user_del_btn" type="submit">
  </form>
</div>
