<div class="home">
</div>
  See What Your Fellow 'Quitters' Are Saying
<div id="all_users">
  <% @user.each do |user| %>
    <li>
      <%= user.username%>
    </li>
    <% @id = user.profile.id %>
    <a href="/profile_view/<%=@id %>"><%=user.profile.fname%></a>
  <% end %>

</div>
