<section id="home_posts_scroll">
  <% post_ten.each do |post| %>
  <%  usr=User.find(post.user_id) %>
    <article class="home_post_art">
      <p class="home_post_u"><%= usr.username.capitalize%>:  </p>
      <p class="home_post_t"><%= post.post_title %></p>
      <p class="home_post"><%= post.post_body %></p>
    </article>
  <% end %>
</section>
