<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/quitter.css">
  <link href="https://fonts.googleapis.com/css?family=League+Script|Oswald:300|Permanent+Marker" rel="stylesheet">
    <title> Welcome to Quitter</title>
  </head>
  <body>
    <div class="general_background">
      <img id="words"src="/images/words.png" alt="">
    </div>

    <!-- <form  action="/search" method="get">
      <input type="search" name="">
      <input type="submit" name="">
   </form> -->
    <nav>
    <% if session[:user_id] %>
    <a id="sign_out" href="#">Sign Out onClick="function(){<%session[:user_id]=nil%>
    <%redirect "/"%>}</a>
    <% else %>
    <a id="sign_up" href="/sign-up">Register</a>
    <a id="sign_in" href="/sign-in">Sign In</a>
    <% end %>
    <p id="page_title"> Quitter.. </p>
    <div id="logo_images">
     <!-- <img id="dot" src="images/dot.png" alt=""> -->
     <img id="poo"src="/images/poo.png" alt="">
     <img id="bird"src="/images/twitter.png" alt="">
    </div>
    <div class="flash-message">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    </nav>
    <%= yield %>
    <!-- <script type"text/javascript" src="quitter.js"></script> -->
  </body>
</html>
