<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/quitter.css"
    <title></title>
  </head>
  <body>
    <a href="#">Post</a>
    <% if session[:user_id] %>
    <a id="sign_out" href="#">Sign Out onClick="function(){  <%session[:user_id]=nil%>
  <%redirect "/"%>}"</a>
    <% else %>
    <a href="/sign-up">Register</a>
    <a href="/sign-in">Sign In</a>
    <% end %>
    <div class="flash-message">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <%= yield %>
    <script type"text/javascript" src="quitter.js"></script>
  </body>
</html>
