<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/quitter.css"
    <title></title>
  </head>
  <body>
    <a href="#">Post</a>
    <% if session[:user_id] %>
    <a href="/sign-out">Sign Out</a>
    <% else %>
    <a href="/sign-up">Register</a>
    <a href="/sign-in">Sign In</a>
    <% end %>
    <div class="flash-message">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
