
<form class="post_f" action="/post_create" method="post">
 <label for="post_title">Title:</label>
 <input class="post" name="post_title" type="text">
 <label for="post_body">What's on your mind:</label>
 <textarea class="post" name="post_body" rows="10"></textarea>
 <button id="post_create_btn" class="post" type="submit" >Submit</button>
</form>
