<form id="post_edt_f" class="post_f" method="post" action="/post-edit/<%= @post.id %>">
  <input type="hidden" name="_method" value="put">
 <input class="post_edt" name="post_title" value="<%= @post.post_title %>" type="text" placeholder="Title">
 <input class="post_edt" name="post_body" value="<%= @post.post_body %>" type="textarea" rows="10" placeholder="What's on your mind">
 <button id="post_edt_btn" class="post_edt" type="submit">Update</button>
 <a id="post_del_btn" class="post_edt" href="/post-delete/<%= @post.id %>">Delete</a>
</form>
