
<form id="create_profile" action="/profile_create" method="post">
  <input type="text" name="[profile]fname" value="" placeholder="FirstName">
  <input type="text" name="[profile]lname" value="" placeholder="LastName">
  <input type="text" name="[profile]email" value="" placeholder="youremail@gmail.com">
  <input type="text" name="[profile]bday" value="" placeholder="mm/dd/yyyy">
  <textarea name="[profile]bio" rows="8" cols="80"></textarea>
</form>
<button id="save" type="submit" form="create_profile" name="button">Save</button>
