 <div class="sign">
  <form id="sign_up_f" class="sign_f" action="/sign-up" method="post">
    <label class="sign" for="username">Username:</label>
    <input id="sign_up_u" type="text" name="username">
    <label class="sign" for="password">Password:</label>
    <input id="sign__up_p" type="password" name="password" min="8">
    <label class="sign" for="pwdconf">Confirm Password:</label>
    <input id="sign__up_pconf" type="password" name="pwdconf" min="8">
    <input type="text" name="fname" placeholder="FirstName">
    <input type="text" name="lname" placeholder="LastName">
    <input type="text" name="email"  placeholder="youremail@gmail.com">
    <input type="text" name="bday"  placeholder="mm/dd/yyyy">
    <textarea name="bio" rows="8" cols="80"></textarea>
   <input id="sign_up_btn" type="submit">
  </form>
</div>
