<p id="welcome">Welcome Back to Quitter!</p>
<p id="instruct">Please enter your username and password to continue.</p>

<div class="sign">
  <!-- <img id="quit"src="images/i-quit.png" alt=""> -->
  <form id="sign_in_f" class="sign_f" action="/sign-in" method="post">
    <input id="username" type="text" name="username" placeholder="Username">
    <input id="password" type="password" name="password" placeholder="Password">
    <input id="sign_in_btn" type="submit">
  </form>
</div>
