<form id="sign_in_f" class="sign_f" action="/sign-in" method="post">
  <input id="sign_in_u" class="sign" type="text" name="username" placeholder="Username">
  <input id="sign_in_p" class="sign" type="password" name="password" placeholder="Password">
  <input id="sign_in_btn" class="sign" type="submit">
</form>
