<form id="sign_up_f" class="sign_f" action="/sign-up" method="post">
    <input id="sign_up_u"  class="sign" type="text" name="username" placeholder="Username">
    <input id="sign__up_p" class="sign" type="password" name="password" min="8" placeholder="Password">

    <input class="sign" type="text" name="fname" placeholder="First name">
    <input class="sign" type="text" name="lname" placeholder="Last name">
    <input class="sign" type="text" name="email"  placeholder="youremail@gmail.com">
    <input class="sign" type="text" name="bday"  placeholder=" Birthday- mm/dd/yyyy">
    <textarea class="sign" name="bio" placeholder="Tell me about yourself"rows="8" cols="80"></textarea>
   <input id="sign_up_btn" class="sign" type="submit" value="Sign Up">
</form>
