<div id="sign_in">
  <form id="sign_in_f" action="/sign-in" method="post">
    <label class="sign" for="username">Username:</label>
    <input id="sign_in_u" type="text" name="username">
    <label class="sign" for="password">Password:</label>
    <input id="sign_in_p" type="password" name="password">
    <input id="sign_in_btn" type="submit">
  </form>
</div>


<h3>Log in to your account:</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
