<div class="sign">
  <form id="sign_in_f" class="sign_f" action="/sign-in" method="post">
    <label class="sign" for="username">Username:</label>
    <input id="sign_in_u" type="text" name="username">
    <label class="sign" for="password">Password:</label>
    <input id="sign_in_p" type="password" name="password">
    <input id="sign_in_btn" type="submit">
  </form>
</div>
