 <div id="sign_up"> 
  <form id="sign_up_f" action="/sign-up" method="post">
    <label class="sign" for="username">Username:</label>
    <input id="sign_up_u" type="text" name="username">
    <label class="sign" for="password">Password:</label>
    <input id="sign__up_p" type="password" min="8">
    <label class="sign" for="password">Confirm Password:</label>
    <input id="sign__up_p_confirm" type="password" min="8">
  </form>
</div>
