<<<<<<< HEAD
/*Layout Styling*/
body{
  backgroud-color: #E8F1F2;
  height: 100%;
  overflow-x: hidden;
  ;
=======
html, body{
  height: 100%;
}

body{
  margin: 0;
  overflow-y: scroll;
}

aside{
  height: 100%;
  width: 25%;
  position: fixed;
  margin-left: 115px;
  margin-top: 250px;
  background-image: url("/Twitter-hash-tag-abuse-spam.gif");
  background-repeat: no-repeat;
  background-position: left;
}

header{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 200px;
  margin: 0;
  background-image: url("http://core0.staticworld.net/images/article/2014/10/exit_computing_business_thinkstock-100525915-primary.idge.jpg");
  background-repeat: no-repeat;
  background-size: 1674px 364px;
}

nav{

}

.layBtn{
  float: right;
  padding: 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  margin: 20px 40px 0px 5px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.sign {
  display: block;
  width: 300px;
  margin-right: 120px;
  margin-bottom: 20px;
  text-align: center;
  font-size:  18px;
  padding: 20px 0px 5px 0px;
  outline: 0;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
>>>>>>> 4c945d999e815021d47ee6540866895ea52a495d
}
nav{
  background-color: #006494;
  position: relative;
  top:-30px;
  height:120px;
  width: 100%;
  left:0px;
  font-family: 'Oswald', sans-serif;
}
.flash-message{
  position: absolute;
  top:120px;
  left:10px;
}
.general_background{
  background-color: #1B98E0;
  position: absolute;
  height: 900px;
  top:70px;
  width: 1207px;
  left: 8px;
  opacity: .6;
  z-index: -1;
}
#words{
  position: absolute;
  z-index: -1;
  opacity: .3;
  left: 200px;
  top: 30px;
}
#page_title{
  color: #E8f1f2;
  font-size: 60px;
  position: relative;
  text-align: left;
  left:50px;
  top: 50px;
  text-decoration: none;
  font-weight: bold;
  font-family:'League Script', cursive;
}
#bird{
  position: absolute;
  height: 40px;
  width: 45px;
  top: 25px;
  left: 300px;
}
#poo{
  position: absolute;
  height: 20px;
  width: 15px;
  top: 85px;
  left: 268px;
}
#sign_up{
  position: absolute;
  left: 1100px;
  top:90px;
  color: white;
}
#sign_in{
  position: absolute;
  left: 1020px;
  top:90px;
  color: white;
}
#profile_link{
  position: absolute;
  left: 940px;
  top:90px;
  color: white;

<<<<<<< HEAD
}
/*Sign-in Form*/
.sign_in_form {
  position: relative;
  width: 500px;
  height: 150px;
  left:350px;
  top:0px;
  font-size: 28px;
  border: 0px;
  border-radius: 5px;
  background-color: #1B98E0;
}
#username{
  position: relative;
  top: 50px;
  border: 0px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  left: 20px;
}
#password{
  position: relative;
  top: 50px;
  left: 20px;
  border: 0px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}
#quit{
  position: relative;
  height:150px;
  width:300px;
  left:100px;
}
#welcome{
  font-size: 40px;
  font-family:'League Script', cursive;
  position: relative;
  left:370px;
  font-weight: 800;
  color: #1B98E0;
}
#instruct{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  left:455px;
  top:-30px;
  color: #13293D;
}
#sign_in_btn{
  cursor: pointer;
  position: relative;
  top: 50px;
  left:50px;
  color: white;
  font-family: 'Oswald', sans-serif;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #006494;
  padding: 5px 10px 5px 10px;
}
/*Sign-Up*/
#create_account{
  font-size: 40px;
  font-family:'League Script', cursive;
  position: absolute;
  left:370px;
  top: 80px;
  font-weight: 800;
  color: #1B98E0;
}

#create_profile{
  position: absolute;
  top: 350px;
  left: 200px;
  height: 300px;
  width: 800px;
  border: 0px;
  border-radius: 10px;
  z-index: 1;
}
.sign_upf{
=======
.sign_f{
    position: relative;
    top: 200px;
    margin-left: 33%;
    margin-right: 38%;
    padding: 20px 95px 20px 95px;
    display: block;
    align-items: center;
    background-color: #EFE9F4;
}

#sign_up_btn, #sign_in_btn{
  background-color: #00A6F5;

}

#profile_name{
>>>>>>> 4c945d999e815021d47ee6540866895ea52a495d
  position: relative;
  top:100px;
  left: 215px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin: 10px;
  z-index: 2;
}
.create_div{
  position: absolute;
  top: 180px;
  left: 180px;
  background-color: #1B98E0;
  height: 500px;
  width: 800px;
  border: 0px;
  border-radius: 10px;
  opacity: .8;
  z-index: 0;
}
.create{
  position: relative;
  top:200px;
  left: -400px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  margin: 20px;
  z-index: 1;
}
.create_email{
  position: absolute;
  margin: 40px;
  top:350px;
  left: 195px;
  z-index: 1;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
}
.create_bday{
  position: absolute;
  margin: 40px;
  top:350px;
  left: 420px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  z-index: 1;
}
#create_bio{
  position: absolute;
  padding: 5px;
  top: 450px;
  left: 225px;
  border:0px;
  border-radius: 5px;
  z-index: 1;
}
#save{
  position: absolute;
  left: 825px;
  top: 600px;
  z-index: 1;
  border: 0px;
  border-radius: 5px;
}

/*Profile view*/
#profile_name{
  position: relative;
  top: 0px;
  left: 50px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Oswald', sans-serif;
}
#bio{
  position: relative;
  background-color: #1B98E0;
  height:200px;
  width: 300px;
  padding:20px;
  border: 0px;
  border-radius: 10px;
  top: 50px;
  left: 30px;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  opacity: .8;
}
#edit_form{
  position: relative;
  left:200px;
  top:300px;
}
<<<<<<< HEAD
#profile_info{
  position: relative;
  left:30px;
  width: 320px;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  background-color: #1B98E0;
  font-family: 'Oswald', sans-serif;
  color: #13293D;
  top: 30px;
}
#edit_form{
  position: absolute;
  top: 300px;
  left: 200px;
  background-color: #006494;
  height: 300px;
  width: 800px;
  border: 5px solid #E8F1F2;
  border-style: groove;
  border-radius: 10px;
  display: none;
  z-index: 3;
}
#edit{
  position: absolute;
  top: 50px;
  left: 10px;
  margin: 10px;
}
.name{
=======

#profile_email {
  position: relative;
  width: 150px;
  left:20px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  top: -30px;
}
#body{
  position: relative;
  top: -10px;
  left: 20px;
  border: 0px;
  border-radius: 5px;
  width: 550px;
  padding: 10px;
}
#submit_edit{
  position: relative;
  border: 0px;
  border-radius: 5px;
  color: #E8F1F2;
  background-color: #1B98E0;
  font-family: 'Oswald', sans-serif;
  padding: 5px;
  left: 70px;
  top: -30px;
}
#edit_link{
  position: relative;
  top: 60px;
  left: 55px;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  z-index: 2;
}
#create_post{
  position: relative;
  top: 60px;
  left: 65px;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  z-index: 2;
}
/*Post Create Page*/
h2{
  font-size: 40px;
  font-family:'League Script', cursive;
  position: absolute;
  left:450px;
  top: 100px;
  font-weight: 800;
  color: #1B98E0;
}
.post_create{
  position: relative;
  left:460px;
  top:100px;
}
<<<<<<< HEAD
#post_title{
  position: relative;
  width: 150px;
  left: 0px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  top: 0px;
}
#post_body{
  position: relative;
  width: 150px;
  left: 0px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  top: 0px;
}
#post_btn{
cursor: pointer;
position: relative;
top: 0px;
left:60px;
color: white;
font-family: 'Oswald', sans-serif;
border: 2px solid white;
border-radius: 5px;
background-color: #006494;
padding: 5px 10px 5px 10px;
}
.post_background{
  position: absolute;
  z-index: -1;
  top: 200px;
  left: 410px;
  width: 300px;
  height: 400px;
  background-color: #006494;
  opacity: .9;
  border-radius: 10px;
}
/*Home Page*/
#member_posts{
  font-size: 30px;
  font-family:'League Script', cursive;
  position: absolute;
  left:320px;
  top: 100px;
  font-weight: 800;
  color: white;
}
#posts{
  position: absolute;
  top: 200px;
  left: 360px;
  font-family: 'Oswald', sans-serif;
}
.home{
  position: absolute;
  width: 600px;
  height: 800px;
  border-radius: 10px;
  background-color: #006494;
  /*opacity: .8;*/
  z-index: -2;
  top: 180px;
  left: 300px;
=======

#home_posts_scroll{
    position: relative;
    top: 200px;
    height: 100%;
    margin-left: 33%;
    margin-right: 33%;
    padding: 20px 25px 20px 25px;
    align-items: center;
    background-color: #e6ecf0;
}

.home_post_art{
  margin: 20px;
  background-color: white;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: #4C6663;
}

.home_post_u{
  border: 1px solid #4C6663;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.home_post_t{
  border: 1px solid #4C6663;
  margin: 0px 0px 18px 0px;
  padding: 10px;
  font-weight: bold;
}

.home_post{
  padding: 10px;

}
