/*  Layout.erb Styling*/
html, body{
  height: 100%;
}

body{
  margin: 0;
  overflow-y: scroll;
}

aside{
  height: 100%;
  width: 25%;
  position: fixed;
  margin-left: 115px;
  margin-top: 250px;
  background-image: url("/Twitter-hash-tag-abuse-spam.gif");
  background-repeat: no-repeat;
  background-position: left;
}

header{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 200px;
  margin: 0;
  background-image: url("http://core0.staticworld.net/images/article/2014/10/exit_computing_business_thinkstock-100525915-primary.idge.jpg");
  background-repeat: no-repeat;
  background-size: 1674px 364px;
}

.layBtn{
  float: right;
  padding: 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  margin: 20px 40px 0px 5px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.lay_drop_cnt{
  position: relative;
  float: right;
  display: inline-block;
}

.lay_drop_dwn{
  display: none;
  position: absolute;
  top: 55px;
  background-color: #e6ecf0;
  border-radius: 3px;
  box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lay_drop_lnks{
  display: block;
  width: 100px;
  padding: 10px 5px 10px 10px;
  font-family: Arial;
  color: #0D0221;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.lay_drop_lnks:hover {
  background-color: #4C6663;
  color: white;
}

.lay_drop_cnt:hover .lay_drop_dwn{
  display: block;
}

.lay_drop_cnt:hover #lay_acct{
  background-color: #4C6663;
}

/*  Form Pages Styling*/
.sign, .prof_ro, .prof_edt, .post{
  display: block;
  width: 300px;
  margin-right: 120px;
  margin-bottom: 20px;
  text-align: center;
  font-size:  18px;
  padding: 20px 0px 5px 0px;
  outline: 0;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  text-decoration: none;
}

.sign_f, .prof_f, .post_f{
    position: relative;
    top: 200px;
    margin-left: 33%;
    margin-right: 38%;
    padding: 20px 95px 20px 95px;
    display: block;
    align-items: center;
    background-color: #EFE9F4;
}

label{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  color: #4C6663;
  font-weight: bolder;
}

#sign_up_btn, #sign_in_btn, #prof_edt_btn, #post_create_btn{
  background-color: #00A6F5;
  font-family: Arial;
  color: buttontext;
}

/*  Home Page Styling*/

#home_posts_scroll{
    position: relative;
    top: 200px;
    height: 100%;
    margin-left: 33%;
    margin-right: 33%;
    padding: 20px 25px 20px 25px;
    align-items: center;
    background-color: #e6ecf0;
}

.home_display_post{
  animation: flipInY 5s;
}

.home_post_art{
  margin: 20px;
  background-color: white;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: #4C6663;
}

.home_post_u{
  display: block;
  border: 1px solid #4C6663;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  color: #4C6663;
}

.home_post_tp{
  display: none;
  position: absolute;
  background-color: #EFE9F4;
  border: 1px solid #4C6663;
  z-index: 1;
}

.home_post_u:hover span.home_post_tp{
  display: block;
}

.home_post_t{
  border: 1px solid #4C6663;
  margin: 0px 0px 18px 0px;
  padding: 10px;
  font-weight: bold;
}

.home_post{
  padding: 10px;
}
